@media screen and (max-width: 480px){
  .contentencabezado
  {
    height: 100%;
    overflow: hidden;
    padding: 20px 0px;
  }

  .encabezado
  {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
  }

  .encabezado .figure
  {
    width: 50%;
    margin-left: 25%;
  }

  .encabezado .emailtelencabezado
  {
    width: 100%;
    margin: 0px;
  }

  .encabezado .mail , .encabezado .tel
  {
    border-top: .5px solid rgba(18, 167, 122, 0.8);
    padding-top: 2%;
  }

  .opcion-menu
  {
    display: block;
    background: rgb(0, 0, 0);
    cursor: pointer;
  }

  .opcion-menu p, .opcion-menu span
  {
    display: inline-block;
    width: 50%;
    font-size: 25px;
    padding: 10px 40px;
    color: #fff;
  }

  .opcion-menu span
  {
    text-align: right;
  }

  .contenedor
  {
    height: 100%;
    width: 100%;
    top: -1000px;
    position: absolute;
    z-index: 2000;
    overflow-y: auto;
  }

  .contenedor div, .contenedor nav
  {
    display: inline-block;
    /*border: 2px solid green;*/
    color:#fff;
    white-space: normal;
  }

  .contenedor nav
  {
    width: 78%;
    margin-right: -4px;
  }

  .contenedor div
  {
    width: 18%;
    vertical-align: top;
    text-align: center;
    padding: 13px;
    background: rgb(255, 255, 255);
    color:#000;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }

  .contenedor .menu .menu_item
  {
    width: 100%;
    text-align: center;
  }

  .banner
  {
    height: 100%;
  }
  .cubrir
  {
    margin-bottom: 10%;
  }
  .banner .cubrir
  {
    height: 100%;
  }

  .cubrir .texto
  {
    width: 100%;
    font-size: 30px;
  }

  .cubrir .contenservbanner
  {
    width: 90%;
  }

  .contenservbanner .contecirculo
  {
    width: 100%;
    margin: 0px;
    text-align: center;
    padding: 10px 0px ;
  }

  #circulo
  {
    border-radius: 10px;
    width: 430px;
    height: 100px;
  }

  #circulo2
  {
    border-radius: 10px;
    width: 430px;
    height: 100px;
  }


  .sectionclientes3
  {
    height: 100%;
  }

  .sectionclientes3 .title
  {
    font-size: 30px;
    margin: 5% 0%;
  }

  .cursos_conten
  {
    width: 100%;
  }

  .cursos_conten .cursos__columna
  {
    width: 100%;
    margin: 0px;
    height: 60%;
  }

  .cursos__descripcion
  {
    padding: 20% 0%;
  }

  .boton
  {
    width: 100%;
  }

  .boton p
  {
    width: 50%;
  }

  footer
  {
    height: 100%;
    /*border: 2px solid red;*/
  }

  footer .contenpie
  {
    width: 100%;
    font-size: 18px;
    text-align: center;
    margin-bottom: 5%;
  }

  footer .sucursal
  {
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 2% 0%;
  }

  footer .contenpiedirec
  {
    width: 100%;
    margin: 0px;
    padding: 2% 0%;
  }


  /***************INICIA NOSOTROS**************/
  .quien{
    font-size: 18px;
  }

  .contenos
  {
    /*border: 2px solid red;*/
    width: 90%;
    margin: 0 auto;
  }

  .textoq
  {
    /*border: 2px solid green;*/
    width: 100%;
    margin: 0px;
    font-size: 18px;
  }

  .textoq p{
    /*border: 2px solid blue;*/
    text-align: center;
    margin: 10% 0%;
  }

  .acordeon
  {
    /*border: 2px solid yellow;*/
    width: 100%;
    margin: 0px;
  }

  .accordion-content
  {
    text-align: justify;
    font-size: 20px;
  }

  /******************INCIA SERVICIOS********************/
  .contenser
  {
  }

  .bannerser
  {
    display: none;
  }
  .contenedors, .contenedors2
  {
    padding: 15px;
  }

  .frenos
  {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .frenos figure
  {
    width: 100%;
    margin: 0px;
  }

  .textoa, .textof
  {
    width: 100%;
    margin: 0px;
  }

  .titulof
  {
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 5% 0px;
  }

  .subtitulof, .subtituloa
  {
    display: none;
  }

  .puntosf
  {
    text-align: justify;
    font-size: 20px;
  }

  /***************Incia Contacto*************************/
  .contieneformmapa
  {
    /*border: 2px solid red;*/
  }

  form
  {
    /*border: 2px solid green;*/
    width: 100%;
    margin: 0px;
  }

  .mapa
  {
    width: 100%;
    padding: 5% 5%;
    margin: 0px;
  }
}

@media screen and (max-width: 599px) and (min-width: 481px) {
  .contentencabezado
  {
    /*border: 2px solid red;*/
    height: 100%;
    overflow: hidden;
    padding: 20px 0px;

  }

  .encabezado
  {
    /*border: 2px solid green;*/
    width: 100%;
    height: 100%;
    text-align: center;

    overflow: hidden;
  }

  .encabezado .figure
  {
    width: 50%;
    margin-left: 25%;
  }

  .encabezado .emailtelencabezado
  {
    width: 100%;
    /*float: none;*/
    margin: 0px;
    /*border: 2px solid red;*/
  }

  .encabezado .mail , .encabezado .tel
  {
    border-top: .5px solid rgba(18, 167, 122, 0.8);
    padding-top: 2%;
  }

  .opcion-menu
  {
    display: block;
    background: rgb(0, 0, 0);
    cursor: pointer;
  }

  .opcion-menu p, .opcion-menu span
  {
    display: inline-block;
    width: 50%;
    font-size: 25px;
    padding: 10px 40px;
    color: #fff;
  }

  .opcion-menu span
  {
    text-align: right;
  }

  .contenedor
  {
    height: 100%;
    width: 100%;
    top: -1000px;
    position: absolute;
    z-index: 2000;
    overflow-y: auto;
  }

  .contenedor div, .contenedor nav
  {
    display: inline-block;
    /*border: 2px solid green;*/
    color:#fff;
    white-space: normal;
  }

  .contenedor nav
  {
    width: 78%;
    margin-right: -4px;
  }

  .contenedor div
  {
    width: 18%;
    vertical-align: top;
    text-align: center;
    padding: 13px;
    background: rgb(255, 255, 255);
    color:#000;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }

  .contenedor .menu .menu_item
  {
    width: 100%;
    text-align: center;
  }

  .banner
  {
    /*border: 2px solid red;*/
    height: 100%;
  }

  .cubrir
  {
    /*border: 2px solid red;*/
    margin-bottom: 5%;
  }

  .banner .cubrir
  {
    height: 100%;
  }

  .cubrir .texto
  {
    width: 100%;
    font-size: 30px;
  }

  .cubrir .contenservbanner
  {
    width: 90%;
  }

  .contenservbanner .contecirculo
  {
    width: 100%;
    margin: 0px;
    text-align: center;
    padding: 10px 0px ;
  }

  #circulo
  {
    border-radius: 10px;
    width: 510px;
    height: 100px;
  }

  #circulo2
  {
    border-radius: 10px;
    width: 510px;
    height: 100px;
  }


  .sectionclientes3
  {
    height: 100%;
  }

  .sectionclientes3 .title
  {
    font-size: 30px;
    margin: 5% 0%;
  }

  .cursos_conten
  {
    width: 100%;
  }

  .cursos_conten .cursos__columna
  {
    width: 100%;
    margin: 0px;
    height: 60%;
  }

  .cursos__descripcion
  {
    padding: 20% 0%;
  }

  .boton
  {
    width: 100%;
  }

  .boton p
  {
    width: 50%;
  }

  footer
  {
    height: 100%;
  }

  footer .contenpie
  {
    width: 100%;
    font-size: 18px;
    /*border: 2px solid red;*/
    text-align: center;
    margin: 0px;
    padding: 2% 0%;
  }

  footer .sucursal
  {
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 2% 0%;
  }

  footer .contenpiedirec
  {
    width: 100%;
    margin: 0px;
    padding: 2% 0%;
  }

  /***************INICIA NOSOTROS**************/
  .quien{
    font-size: 30px;
  }

  .contenos
  {
    /*border: 2px solid red;*/
    width: 90%;
    margin: 0 auto;
  }

  .textoq
  {
    /*border: 2px solid green;*/
    width: 100%;
    margin: 0px;
    font-size: 18px;
  }

  .textoq p{
    /*border: 2px solid blue;*/
    text-align: center;
    margin: 10% 0%;
  }



  .acordeon
  {
    /*border: 2px solid yellow;*/
    width: 100%;
    margin: 0px;
  }

  .accordion-content
  {
    text-align: justify;
    font-size: 22px;
  }

  /******************INCIA SERVICIOS********************/
  .contenser
  {
  }

  .bannerser
  {
    display: none;
  }

  .contenedors, .contenedors2
  {
    padding: 15px;
  }

  .frenos
  {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .frenos figure
  {
    width: 100%;
    margin: 0px;
    /*border: 2px solid red;*/
    /*background: url('../img/frenos.jpg') no-repeat center;*/
  }

  .textoa, .textof
  {
    width: 100%;
    margin: 0px;
  }

  .titulof
  {
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 5% 0px;
  }

  .subtitulof, .subtituloa
  {
    display: none;
  }

  .puntosf
  {
    text-align: justify;
    font-size: 20px;
  }
}

@media screen and (max-width: 799px) and (min-width: 600px) {
  .contentencabezado
  {
    height: 100%;
    overflow: hidden;
    padding: 20px 0px;

  }

  .encabezado
  {
    /*border: 2px solid green;*/
    width: 100%;
    height: 100%;
    text-align: center;

    overflow: hidden;
  }

  .encabezado .figure
  {
    width: 50%;
    margin-left: 25%;
  }

  .encabezado .emailtelencabezado
  {
    width: 100%;
    /*float: none;*/
    margin: 0px;
    /*border: 2px solid red;*/
  }

  .encabezado .mail , .encabezado .tel
  {
    border-top: .5px solid rgba(18, 167, 122, 0.8);
    padding-top: 2%;
  }

  .opcion-menu
  {
    display: block;
    background: rgb(0, 0, 0);
    cursor: pointer;
  }

  .opcion-menu p, .opcion-menu span
  {
    display: inline-block;
    width: 50%;
    font-size: 25px;
    padding: 12px 40px 0px 40px;
    color: #fff;
  }

  .opcion-menu span
  {
    text-align: right;
  }

  .contenedor
  {
    height: 100%;
    width: 100%;
    top: -1000px;
    position: absolute;
    z-index: 2000;
    overflow-y: auto;
  }

  .contenedor div, .contenedor nav
  {
    display: inline-block;
    color:#fff;
    white-space: normal;
  }

  .contenedor nav
  {
    width: 78%;
    margin-right: -4px;
  }

  .contenedor div
  {
    width: 18%;
    vertical-align: top;
    text-align: center;
    padding: 13px;
    background: rgb(255, 255, 255);
    color:#000;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }

  .contenedor .menu .menu_item
  {
    width: 100%;
    text-align: center;
  }


  .banner
  {
    /*border: 2px solid red;*/
    height: 100%;
  }

  .banner .cubrir
  {
    height: 100%;
  }

  .cubrir
  {
    /*border: 2px solid red;*/
    margin-bottom: 10%;
  }
  .cubrir .texto
  {
    width: 100%;
    font-size: 30px;
  }

  .cubrir .contenservbanner
  {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  .contenservbanner .contecirculo
  {
    width: 48%;
    margin: 0px;
    text-align: center;
    padding: 5px 0px ;
    /*border: 2px solid red;*/
  }

  #circulo
  {
    border-radius: 10px;
    width: 510px;
    height: 100px;
  }

  #circulo2
  {
    border-radius: 10px;
    width: 510px;
    height: 100px;
  }


  .sectionclientes3
  {
    height: 100%;
  }

  .sectionclientes3 .title
  {
    font-size: 25px;
    margin: 5% 0%;

  }

  .cursos_conten
  {
    width: 100%;
    /*border: 2px solid red;*/
  }

  .cursos_conten .cursos__columna
  {
    width: 48%;
    margin: 0px;
    height: 60%;
  }

  .cursos__descripcion
  {
    padding: 20% 0%;
  }

  .boton
  {
    width: 100%;
  }

  .boton p
  {
    width: 50%;
  }

  .textoq a
  {
    /*border: 2px solid red;*/
    font-size: 30px;
  }


  footer
  {
    height: 100%;
  }

  footer .contenpie
  {
    width: 100%;
    font-size: 18px;
    /*border: 2px solid red;*/
    text-align: center;
    margin: 0px;
    padding: 2% 0%;
  }

  footer .sucursal
  {
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 2% 0%;
  }

  footer .contenpiedirec
  {
    width: 100%;
    margin: 0px;
    padding: 2% 0%;
  }

  /***************INICIA NOSOTROS**************/
  .quien{
    font-size: 30px;
  }

  .contenos
  {
    /*border: 2px solid red;*/
    width: 90%;
    margin: 0 auto;
  }

  .textoq
  {
    /*border: 2px solid green;*/
    width: 100%;
    margin: 0px;
    font-size: 18px;
  }

  .textoq p{
    /*border: 2px solid blue;*/
    text-align: center;
    margin: 10% 0%;
  }

  .textoq a
  {
    /*border: 2px solid red;*/
    font-size: 30px;
  }

  .acordeon
  {
    /*border: 2px solid yellow;*/
    width: 100%;
    margin: 0px;
  }

  .accordion-content
  {
    text-align: justify;
    font-size: 22px;
  }

  /******************INCIA SERVICIOS********************/
  .contenser
  {
  }

  .bannerser
  {
    /*background-size: 100% 100%;*/
    display: none;
  }

  .contenedors, .contenedors2
  {
    padding: 15px;
  }

  .frenos
  {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .frenos figure
  {
    width: 100%;
    margin: 0px;
    /*border: 2px solid red;*/
    /*background: url('../img/frenos.jpg') no-repeat center;*/
  }

  .textoa, .textof
  {
    width: 100%;
    margin: 0px;
  }

  .titulof
  {
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 5% 0px;
  }

  .subtitulof, .subtituloa
  {
    display: none;
  }

  .puntosf
  {
    text-align: justify;
    font-size: 20px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 800px) {


  .contentencabezado
  {
    height: 100%;
    overflow: hidden;
    padding: 20px 0px;

  }

  .encabezado .emailtelencabezado
  {
    width: 40%;
    margin-right: 0px;
    /*border: 2px solid red;*/
  }


  .contenedor nav
  {
    height: 100%;
    width: 100%;
    text-align: center;
  }


  .banner
  {
    height: 100%;
    padding-bottom: 2%;
  }

  .banner .cubrir
  {
    height: 100%;
  }

  .contenservbanner
  {
    width: 90%;
  }

  .sectionclientes3
  {
    height: 100%;
  }

  .cursos_conten
  {
    width: 100%;
  }

  .cursos__columna
  {
    width: 28%;
    margin-left: 2%;
  }



  footer
  {
    height: 100%;
  }

  footer .contenpie
  {
    width: 100%;
    font-size: 18px;
    text-align: center;
    margin: 0px;
    padding: 2% 0%;
  }

  footer .sucursal
  {
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 2% 0%;
  }

  footer .contenpiedirec
  {
    width: 100%;
    margin: 0px;
    padding: 2% 0%;
  }

  .textoq p{
    text-align: center;
    margin: 10% 0%;
  }

  .textoq a
  {
    font-size: 30px;
  }

  .bannerser
  {
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 1280px) and (min-width: 1024px) {      /* mac*/

  .contenedor nav
  {
    width: 100%;
  }
  .banner
  {
    /*border: 2px solid red;*/
    height: 100%;
    padding-bottom: 2%;
  }

  .banner .cubrir
  {
    height: 100%;
  }

  .contenservbanner
  {
    /*border: 2px solid green;*/
    width: 90%;
  }

  .sectionclientes3
  {
    height: 100%;
    /*border: 2px solid red;*/
  }

  .cursos_conten
  {
    width: 100%;
  }

  .cursos__columna
  {
    /*border: 2px solid red;*/
    width: 28%;
    margin-left: 2%;
  }



  footer
  {
    height: 100%;
  }

  footer .contenpie
  {
    width: 100%;
    font-size: 18px;
    /*border: 2px solid red;*/
    text-align: center;
    margin: 0px;
    padding: 2% 0%;
  }

  footer .sucursal
  {
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 2% 0%;
  }

  footer .contenpiedirec
  {
    width: 100%;
    margin: 0px;
    padding: 2% 0%;
  }

  .textoq p{
    /*border: 2px solid blue;*/
    text-align: center;
    margin: 10% 0%;
  }

  .textoq a
  {
    /*border: 2px solid red;*/
    font-size: 30px;
  }
}
@media screen and (max-width: 1366px) and (min-width: 1024px) { }

@media screen and (min-width: 1367px) { }
